body {
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: #333;
   margin: 0;
   padding: 0;
   background-image:linear-gradient(to right,#e3eef0,#f0f0f0);
}

header {
   background-color: black;
   padding: 20px;
   text-align: center;
   color:white;
}

header h1 {
   margin: 0;
   font-size: 36px;
}

nav {
   background-color: #333;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

nav li {
   float: left;
}

nav li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

nav li a:hover {
   background-color: #111;
}

main {
   margin: 20px;
}

footer {
   background-color: black;
   padding: 20px;
   text-align: center;
   font-size: 14px;
   color:white;
}
